.loading-container {
	position: fixed;
	inset: 0;
	z-index: 99;
	background-color: #333;
	display: grid;
	place-content: center;
}

.loading-container svg {
	width: 100rem;
}

.loading-text {
	font-size: 6rem;
	font-weight: 700;
	stroke-width: 2;
	stroke: #fff;
	animation: 4s infinite alternate animate-stroke;
}

@keyframes animate-stroke {
	0% {
		fill: transparent;
		stroke: #fff;
		stroke-width: 3;
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 32%;
	}

	50% {
		fill: transparent;
		stroke: #fff;
		stroke-width: 3;
	}

	80%,
	100% {
		fill: #fff;
		stroke: transparent;
		stroke-width: 0;
		stroke-dashoffset: -25%;
		stroke-dasharray: 32% 0;
	}
}
